.web {
    display: flex;
    flex: 1;
    align-items: center;
}

.navbar.fixed {
    font-size: 20px;
    margin-top: 16px;
    margin-right: 400px;
    font-weight: 700;
    background-color: rgb(208, 226, 254);
    transition: .3s ease-in-out;
}

.web-option {
    margin-top: 10px;
    font-size: 20px;
    margin-right: 400px;
    font-weight: 700;
}

.web-option a {
    text-decoration: none;
    color: blue;
    display: flex;
    align-items: center;
}

.option-icon {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.web-option:last-child {
    margin-right: 0px;
}