.social-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon-div {
    padding: 100px;
    cursor: pointer;
    margin: -65px;
}

.social-icons {
    height: 40px;
}

@media only screen and (max-width: 720px) {
    .social-icons {
        height: 32px;
    }
}