.social-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 3px;
    border-style: solid;
    border-color: grey;
}

.social-icon-div {
    padding: 50px;
    cursor: pointer;
    margin: -10px;
}

.social-icons {
    height: 40px;
}

@media only screen and (max-width: 720px) {
    .social-icons {
        height: 32px;
    }
}