.mobile {
    background-color: rgba(255, 255, 255, 0.612)255, 255, 255, 0.543;
    height: 10vh;
    width: 40vw;
    position: absolute;
    right: 0px;
    top: -6px;
    padding: 18px 12px;
    display: flex;
    flex-direction: column;
}

.close-icon {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
}

.mobile-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 24px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar.fixed {
    font-size: 24px;
    margin: 300px 0px;
    display: flex;
    font-weight: 700;
    background-color: rgb(208, 226, 254);
    transition: .3s ease-in-out;
}

.mobile-option {
    font-size: 24px;
    margin: 12px 0px;
    display: flex;
}

.mobile-option a {
    text-decoration: none;
    color: blue;
    display: flex;
}