.mobile {
    background-color: #f4f4ea;
    height: 78vh;
    width: 35vw;
    position: absolute;
    right: 0px;
    top: -6px;
    padding: 18px 12px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.navbar.fixed {
    margin-top: 30px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    background-color: rgb(208, 226, 254);
    transition: .3s ease-in-out;
}

.close-icon {
    margin-top: 4px;
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    margin-bottom: 20px;
}

.mobile-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 24px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mobile-option {
    margin-top: 15px;
    font-size: 12px;
    right: 12px;
    display: flex;
    margin-bottom: 10px;
}

.mobile-option a {
    text-decoration: none;
    color: blue;
    display: flex;
}