.mobile {
    background-color: #d8f9ff;
    height: 8%;
    width: 60vw;
    position: absolute;
    right: 0px;
    top: -6px;
    padding: 18px 12px;
    display: flex;
    flex-direction: column;
}

.close-icon {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    padding: 12px 8px;
}

.mobile-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 24px;
    justify-content: right;
    align-items: center;
    height: 100%;
}

.navbar.fixed {
    font-size: 24px;
    margin-top: 300px;
    margin-right: 0px;
    display: flex;
    font-weight: 700;
    background-color: rgb(208, 226, 254);
    transition: .3s ease-in-out;
}

.mobile-option {
    font-size: 16px;
    margin: 12px 0px;
    display: flex;
}

.mobile-option a {
    text-decoration: none;
    color: blue;
    display: flex;
}