.contact {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-title {
    font-size: 40px;
    font-weight: 700;
}

.contact-left {
    display: flex;
    flex: 1;
    justify-content: left;
    text-align: center;
    font-size: 20px;

}

.contact-center {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}