.header {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 12px;
    position: relative;
    align-items: center;
}

.menu {
    background-color: "d8f9ff";
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.menu-icon {
    font-size: 24px;
}

.mobile-menu {
    display: none;
}

.web-menu {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 36px;
    color: blue;
    font-weight: 800;
    cursor: pointer;
}
  
.glow-image {
    height: auto;
    transition: filter 0.5s ease-in-out;
}

.logo:hover .glow-image {
    filter: brightness(1.4) drop-shadow(0 0 5px rgba(0, 81, 43, 0));
}

@media only screen and (max-width: 720px) {
    .mobile-menu {
        display: flex;
    }

    .web-menu {
        display: none;
    }

    .logo {
        font-size: 24px;
    }
}