.footer {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

/* myDiv style */
div.myDiv {
    font-size: 16px;
}

/* arrow style */
div.arrow {
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 30px;
}
  
/* myDiv .myBig style */
div.myDiv .myBig {
    font-size: 130%;
}

.arrow a {
    display: inline-flex;
    align-items: center;
}

.arrow a:hover i {
    color: #458FFF;
    opacity: 0.3,
}

.arrow a:hover::after {
    content: "Back to Top";
    font-size: 16px;
    padding-left: 8px;
}

.arrow i {
    transition: opacity 0.2s ease-in-out, color 0.5s ease-in-out;
}