.separator {
  background-image: linear-gradient(to right top,
      #3654e7,
      #5c52e9,
      #874feb,
      #914aeb,
      #a745ea,
      #7d68fb,
      #4d7fff,
      #0091ff,
      #00ffff,
      #00bdd9,
      #ffffff,
      #ff781f);
  height: 8px;
  width: 40%;
  border-radius: 3px;
  margin: 16px 0px;
}