.about {
    padding-bottom: 95px;
}

.about-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture {
    height: 420px;
}

.about-info {
    font-size: 24px;
}

.about-photo {
    transition: opacity 3s ease-in-out;
    position: relative;
}
  
.fade-in {
    opacity: 1;
}

.info-name {
    color: blue;
    font-size: 32px;
}

.info-name2 {
    color: blue;
    font-size: 26px;
}

a:visited {
    color: blue;
}

a:hover {
    color: rgb(0, 160, 155);
}

a:active {
    color: rgb(0, 0, 0)
}

@media only screen and (max-width: 720px) {
    .about-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .picture {
        height: 400px;
    }

    .about-info {
        font-size: 28px;
    }

    .info-name {
        font-size: 26px;
    }
}